<!--  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <!-- index.css -->
    <link rel="stylesheet" href="./index.css" />

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS (with popper integerated) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- More Details Modal -->
    <div
      class="modal fade"
      id="gameModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Failed to get. Try again later!
            </h1>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
              color="white"
            ></button>
          </div>
          <div class="modal-body border-0"></div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Game Modal -->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add a new game
            </h1>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
              color="white"
            ></button>
          </div>
          <div class="modal-body border-0">
            <div class="card">
              <h1>Add Tabletop Game</h1>
              <div class="container">
                <div class="form-group">
                  <label for="name">Name (max 255 characters)</label>
                  <input type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                  <label for="description"
                    >Description (max 65,000~ characters)</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="image_url">Image URL (max 1024 characters)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="image_url"
                    value="game1.jpg"
                  />
                </div>
                <div class="form-group">
                  <label for="bgg_rating">BGG Rating (0 to 10)</label>
                  <input type="text" class="form-control" id="bgg_rating" />
                </div>
                <div class="form-group">
                  <label for="game_weight">Game Weight (0 to 5)</label>
                  <input type="text" class="form-control" id="game_weight" />
                </div>
                <div class="form-group">
                  <label for="max_play_time"
                    >Max Play Time (positive integer)</label
                  >
                  <input type="text" class="form-control" id="max_play_time" />
                </div>
                <div class="form-group">
                  <label for="min_play_time"
                    >Min Play Time (positive integer)</label
                  >
                  <input type="text" class="form-control" id="min_play_time" />
                </div>
                <div class="form-group">
                  <label for="max_players"
                    >Max Players (positive integer)</label
                  >
                  <input type="text" class="form-control" id="max_players" />
                </div>
                <div class="form-group">
                  <label for="min_players"
                    >Min Players (positive integer)</label
                  >
                  <input type="text" class="form-control" id="min_players" />
                </div>
                <div class="form-group">
                  <label for="min_age">Min Age (positive integer)</label>
                  <input type="text" class="form-control" id="min_age" />
                </div>
                <div class="form-group">
                  <label for="designers"
                    >Designers (max 65,000~ characters)</label
                  >
                  <input type="text" class="form-control" id="designers" />
                </div>
                <div class="form-group">
                  <label for="artists">Artists (max 65,000~ characters)</label>
                  <input type="text" class="form-control" id="artists" />
                </div>
                <div class="form-group">
                  <label for="publishers"
                    >Publishers (max 65,000~ characters)</label
                  >
                  <input type="text" class="form-control" id="publishers" />
                </div>
                <div class="form-group">
                  <label for="year_released"
                    >Year Released (positive integer)</label
                  >
                  <input type="text" class="form-control" id="year_released" />
                </div>
                <button class="btn btn-primary" onclick="SubmitAddForm()">
                  Submit
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Start -->
    <div class="container">
      <div class="row border-bottom mb-4">
        <div class="col pb-2 mt-4 mb-2" style="width: 100%">
          <h1>TableTop Games Browser</h1>
          Click on a game below for more information.
        </div>
      </div>
      <!-- Cards -->
      <div class="row" id="cards">
        <!-- Add Game Card -->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div
            class="Summary addCard"
            onmouseover="overCard(this)"
            onmouseout="outCard(this)"
            onclick="$('#addModal').modal('show')"
          >
            <h1>Add a new game</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Get and insert all games -->
    <script type="module" src="index.js"></script>

    <script>
      //styles
      function overCard(card) {
        card.style.backgroundColor = "#444749";
      }

      function outCard(card) {
        card.style.backgroundColor = "#343638";
      }

      const cards = document.querySelector("#cards");
    </script>
  </body>
</html>
